---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SkillCards from "../components/SkillCards.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="text-center">
    <Hero />

    <SkillCards />
  </main>
</Layout>

<!-- 
cyan neon: #00fff7
orange neon: #ff9900
negro: #0d0d0d
-->
